.ap--titulo {
  font-size: 4.5rem;
  line-height: 1.1;
  position: relative;
}

.ap--titulo::before {
  content: "";
  background: url(../files/deco.svg) no-repeat center;
  height: 6.25rem;
  width: 8.125rem;
  position: absolute;
  display: block;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.ap--local {
  font-size: 1.5rem;
  line-height: 1.125;
  margin-top: 1.875rem;
  color: #525252;
}


@media (max-width: 1000px) {
  .ap--titulo{
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .apresentacao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .ap--titulo {
    font-size: 2rem;
  }
  .ap--titulo::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
}

@media (max-width: 400px) {
  .apresentacao {
    grid-template-columns: 1fr;
  }
  .apresentacao img {
    display: none;
  }
}
